{{!-- Use the main layout --}}
{{!< main}}

<h1>{{title}}</h1>
<p>{{content}}</p>
<small>Posted by {{username}} on {{createdAt}}</small>
{{#each comments}}
    <div class="comment">
        <p>{{comment_text}}</p>
        <small>Comment by {{user.username}} on {{createdAt}}</small>
    </div>
{{/each}}